.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.App-header {
  background-color: #F7F4F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Field {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.Input {
  width: 200px;
  border-radius: 10px;
  color: gray;
  border-color: silver;
  padding: 5px 10px;
  margin: 5px;

  &__message {
    height: 20px;
    font-size: 14px;
  
    &--invalid {
      color: red;
    }
  }
}
